.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(-5deg);
}
