.custom-progress {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 0.5rem;
}

.custom-progress::-webkit-progress-bar {
  background-color: #6a558a;
  border-radius: 24px;
}

.custom-progress::-webkit-progress-value {
  background-color: #6cb7f5;
  border-radius: 24px;
}

.custom-progress.active-selected::-webkit-progress-value {
  background-color: #f5a76c;
}

.custom-progress.active-correct::-webkit-progress-value {
  background-color: #5af59d;
}

.custom-progress.active-incorrect::-webkit-progress-value {
  background-color: #f55a98;
}