body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
}

.cus-conten {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 0;
}
